@keyframes move {
  0% {
    top: 100%;
  }
  100% {
    top: 50%;
  }
}
body {
  background-color: black;
  margin: 0;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.item:nth-child(1) {
  background: linear-gradient(to top left, #ffc2c2, #8a0000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 81px;
  border-radius: 15px;
  background: linear-gradient(to top left, #00eb00, #005c00);
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(2) {
  background: linear-gradient(to top left, #ff1f1f, #380000);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 108px;
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(3) {
  background: linear-gradient(to top left, #ff4747, #b80000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 98px;
  border-radius: 82px;
  background: linear-gradient(to top left, #29ff29, #006c00);
  animation-name: move;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(4) {
  background: linear-gradient(to top left, #ff7575, #750000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 34px;
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(5) {
  background: linear-gradient(to top left, #ff2929, #f50000);
  height: 9vh;
  transform-origin: 0 0;
  border-radius: 98px;
  border-radius: 54px;
  background: linear-gradient(to top left, #15ff15, #005200);
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(6) {
  background: linear-gradient(to top left, #ff5252, #c20000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 36px;
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(7) {
  background: linear-gradient(to top left, #ff7a7a, #d10000);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 64px;
  border-radius: 39px;
  background: linear-gradient(to top left, #00e600, #006c00);
  animation-name: move;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(8) {
  background: linear-gradient(to top left, #ff1f1f, #940000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 89px;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(9) {
  background: linear-gradient(to top left, #ff0505, #8f0000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 98px;
  border-radius: 12px;
  background: linear-gradient(to top left, #00f500, #006c00);
  animation-name: move;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(10) {
  background: linear-gradient(to top left, #ffbdbd, #bd0000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 14px;
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(11) {
  background: linear-gradient(to top left, #ffc7c7, #7a0000);
  height: 9vh;
  transform-origin: 0 0;
  border-radius: 90px;
  border-radius: 45px;
  background: linear-gradient(to top left, #009400, #004d00);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(12) {
  background: linear-gradient(to top left, #ffb8b8, #ad0000);
  height: 4vh;
  transform-origin: 0 0;
  border-radius: 26px;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(13) {
  background: linear-gradient(to top left, #ff4d4d, #b30000);
  height: 4vh;
  transform-origin: 0 0;
  border-radius: 41px;
  border-radius: 36px;
  background: linear-gradient(to top left, #1fff1f, #007600);
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(14) {
  background: linear-gradient(to top left, #ffa3a3, #990000);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 66px;
  animation-name: move;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(15) {
  background: linear-gradient(to top left, #ff9e9e, #470000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 93px;
  border-radius: 79px;
  background: linear-gradient(to top left, #00c700, #006700);
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(16) {
  background: linear-gradient(to top left, #ffc7c7, #fa0000);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 23px;
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(17) {
  background: linear-gradient(to top left, #ffa8a8, #eb0000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 25px;
  border-radius: 27px;
  background: linear-gradient(to top left, #00cd00, #005700);
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(18) {
  background: linear-gradient(to top left, #ff4747, #8a0000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 18px;
  animation-name: move;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(19) {
  background: linear-gradient(to top left, #ff3333, #3d0000);
  height: 9vh;
  transform-origin: 0 0;
  border-radius: 79px;
  border-radius: 73px;
  background: linear-gradient(to top left, #00e100, #006100);
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(20) {
  background: linear-gradient(to top left, #ff6161, #850000);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 66px;
  animation-name: move;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(21) {
  background: linear-gradient(to top left, #ff1f1f, #cc0000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 104px;
  border-radius: 82px;
  background: linear-gradient(to top left, #009a00, #007600);
  animation-name: move;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(22) {
  background: linear-gradient(to top left, #ffa8a8, #ad0000);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 11px;
  animation-name: move;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(23) {
  background: linear-gradient(to top left, #ff5252, #d10000);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 32px;
  border-radius: 60px;
  background: linear-gradient(to top left, #00d700, #006c00);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(24) {
  background: linear-gradient(to top left, #ffb3b3, #660000);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 74px;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(25) {
  background: linear-gradient(to top left, #ff4242, #db0000);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 37px;
  border-radius: 77px;
  background: linear-gradient(to top left, #00b300, #005700);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(26) {
  background: linear-gradient(to top left, #ffb3b3, #e60000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 63px;
  animation-name: move;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(27) {
  background: linear-gradient(to top left, #ff1a1a, #bd0000);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 44px;
  border-radius: 39px;
  background: linear-gradient(to top left, #00e100, #007600);
  animation-name: move;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(28) {
  background: linear-gradient(to top left, #ffc2c2, #750000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 34px;
  animation-name: move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(29) {
  background: linear-gradient(to top left, #ff1414, #a80000);
  height: 4vh;
  transform-origin: 0 0;
  border-radius: 38px;
  border-radius: 106px;
  background: linear-gradient(to top left, #00a400, #005700);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(30) {
  background: linear-gradient(to top left, #ff7070, #990000);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 93px;
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(even) {
  align-self: end;
  transform-origin: 0 100%;
}

.item {
  position: relative;
}

/*# sourceMappingURL=loop.css.map */
