@keyframes move {
  0% {
    top: 100%;
  }
  100% {
    top: 50%;
  }
}
body {
  background-color: black;
  margin: 0;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.item:nth-child(1) {
  background: linear-gradient(to right left, #0bff0b, #005c00);
  height: 9vh;
  transform-origin: 0 0;
  border-radius: 63px;
  border-radius: 105px;
  background: linear-gradient(to top left, #00bd00, #007600);
  animation-name: move;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(2) {
  background: linear-gradient(to right left, #0bff0b, #004300);
  height: 11vh;
  transform-origin: 0 0;
  border-radius: 105px;
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(3) {
  background: linear-gradient(to right left, #00eb00, black);
  height: 11vh;
  transform-origin: 0 0;
  border-radius: 97px;
  border-radius: 24px;
  background: linear-gradient(to top left, #29ff29, #007100);
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(4) {
  background: linear-gradient(to right left, #00f000, black);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 64px;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(5) {
  background: linear-gradient(to right left, #00b800, #003e00);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 103px;
  border-radius: 110px;
  background: linear-gradient(to top left, #00c200, #006100);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(6) {
  background: linear-gradient(to right left, #06ff06, black);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 20px;
  animation-name: move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(7) {
  background: linear-gradient(to right left, #24ff24, #007100);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 104px;
  border-radius: 50px;
  background: linear-gradient(to top left, #009a00, #005700);
  animation-name: move;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(8) {
  background: linear-gradient(to right left, #1fff1f, #001a00);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 104px;
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(9) {
  background: linear-gradient(to right left, #29ff29, #007100);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 30px;
  border-radius: 42px;
  background: linear-gradient(to top left, #00eb00, #007100);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(10) {
  background: linear-gradient(to right left, #1fff1f, black);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 76px;
  animation-name: move;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(11) {
  background: linear-gradient(to right left, #008f00, #006100);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 110px;
  border-radius: 31px;
  background: linear-gradient(to top left, #24ff24, #007b00);
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(12) {
  background: linear-gradient(to right left, #3eff3e, #007b00);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 43px;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(13) {
  background: linear-gradient(to right left, #00d700, black);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 23px;
  border-radius: 92px;
  background: linear-gradient(to top left, #00d700, #006100);
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(14) {
  background: linear-gradient(to right left, #008500, #001000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 84px;
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(15) {
  background: linear-gradient(to right left, #00f500, #003900);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 26px;
  border-radius: 56px;
  background: linear-gradient(to top left, #00eb00, #006700);
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(16) {
  background: linear-gradient(to right left, #00d200, black);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 106px;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(17) {
  background: linear-gradient(to right left, #008a00, black);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 36px;
  border-radius: 61px;
  background: linear-gradient(to top left, #00d200, #007100);
  animation-name: move;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(18) {
  background: linear-gradient(to right left, #00e100, black);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 70px;
  animation-name: move;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(19) {
  background: linear-gradient(to right left, #3eff3e, #006c00);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 81px;
  border-radius: 101px;
  background: linear-gradient(to top left, #00dc00, #005c00);
  animation-name: move;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(20) {
  background: linear-gradient(to right left, #00e100, #007600);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 34px;
  animation-name: move;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(21) {
  background: linear-gradient(to right left, #0bff0b, #006c00);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 18px;
  border-radius: 15px;
  background: linear-gradient(to top left, #00c700, #006700);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(22) {
  background: linear-gradient(to right left, #00f000, black);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 51px;
  animation-name: move;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(23) {
  background: linear-gradient(to right left, #008500, black);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 76px;
  border-radius: 45px;
  background: linear-gradient(to top left, #009400, #005700);
  animation-name: move;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(24) {
  background: linear-gradient(to right left, #34ff34, #000100);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 38px;
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(25) {
  background: linear-gradient(to right left, #00d700, #004d00);
  height: 9vh;
  transform-origin: 0 0;
  border-radius: 36px;
  border-radius: 31px;
  background: linear-gradient(to top left, #24ff24, #007b00);
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(26) {
  background: linear-gradient(to right left, #48ff48, #007b00);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 81px;
  animation-name: move;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(27) {
  background: linear-gradient(to right left, #00f000, #001a00);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 91px;
  border-radius: 46px;
  background: linear-gradient(to top left, #06ff06, #005700);
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(28) {
  background: linear-gradient(to right left, #1aff1a, #003400);
  height: 4vh;
  transform-origin: 0 0;
  border-radius: 81px;
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(29) {
  background: linear-gradient(to right left, #00b800, #006100);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 49px;
  border-radius: 12px;
  background: linear-gradient(to top left, #15ff15, #005700);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(30) {
  background: linear-gradient(to right left, #10ff10, #000b00);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 109px;
  animation-name: move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(even) {
  align-self: end;
  transform-origin: 0 100%;
}

.item {
  position: relative;
}

/*# sourceMappingURL=loop.css.map */
