@keyframes move {
  0% {
    top: 100%;
  }
  100% {
    top: 50%;
  }
}
body {
  background-color: black;
  margin: 0;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: 1fr;
  height: 100vh;
}

.item:nth-child(1) {
  background: linear-gradient(to top left, #ffbdbd, #bd0000);
  height: 4vh;
  transform-origin: 0 0;
  border-radius: 12px;
  border-radius: 12px;
  background: linear-gradient(to top left, #24ff24, #006100);
  animation-name: move;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(2) {
  background: linear-gradient(to top left, #ff0505, #f00000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 109px;
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(3) {
  background: linear-gradient(to top left, #ff3838, #f50000);
  height: 9vh;
  transform-origin: 0 0;
  border-radius: 76px;
  border-radius: 11px;
  background: linear-gradient(to top left, #00dc00, #005200);
  animation-name: move;
  animation-duration: 17s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(4) {
  background: linear-gradient(to top left, #ff4747, #c70000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 63px;
  animation-name: move;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(5) {
  background: linear-gradient(to top left, #ff5757, #660000);
  height: 9vh;
  transform-origin: 0 0;
  border-radius: 82px;
  border-radius: 85px;
  background: linear-gradient(to top left, #43ff43, #006700);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(6) {
  background: linear-gradient(to top left, #ffb3b3, #850000);
  height: 4vh;
  transform-origin: 0 0;
  border-radius: 74px;
  animation-name: move;
  animation-duration: 13s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(7) {
  background: linear-gradient(to top left, #ff9999, #5c0000);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 83px;
  border-radius: 109px;
  background: linear-gradient(to top left, #00e600, #005c00);
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(8) {
  background: linear-gradient(to top left, #ff8f8f, #e00000);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 49px;
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(9) {
  background: linear-gradient(to top left, #ffc7c7, #3d0000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 83px;
  border-radius: 37px;
  background: linear-gradient(to top left, #00fa00, #006100);
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(10) {
  background: linear-gradient(to top left, #ff7575, #f50000);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 96px;
  animation-name: move;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(11) {
  background: linear-gradient(to top left, #ff1414, #940000);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 84px;
  border-radius: 24px;
  background: linear-gradient(to top left, #00d200, #005700);
  animation-name: move;
  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(12) {
  background: linear-gradient(to top left, #ff5c5c, #a80000);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 96px;
  animation-name: move;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(13) {
  background: linear-gradient(to top left, #ffa3a3, #3d0000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 68px;
  border-radius: 65px;
  background: linear-gradient(to top left, #00c700, #006c00);
  animation-name: move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(14) {
  background: linear-gradient(to top left, #ff4d4d, #8a0000);
  height: 11vh;
  transform-origin: 0 0;
  border-radius: 24px;
  animation-name: move;
  animation-duration: 19s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(15) {
  background: linear-gradient(to top left, #ff5757, #940000);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 54px;
  border-radius: 36px;
  background: linear-gradient(to top left, #29ff29, #006700);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(16) {
  background: linear-gradient(to top left, #ff1a1a, #850000);
  height: 4vh;
  transform-origin: 0 0;
  border-radius: 25px;
  animation-name: move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(17) {
  background: linear-gradient(to top left, #ff1f1f, #850000);
  height: 11vh;
  transform-origin: 0 0;
  border-radius: 81px;
  border-radius: 99px;
  background: linear-gradient(to top left, #00eb00, #005c00);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(18) {
  background: linear-gradient(to top left, #ff7575, #990000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 71px;
  animation-name: move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(19) {
  background: linear-gradient(to top left, #ffb8b8, #520000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 13px;
  border-radius: 83px;
  background: linear-gradient(to top left, #00a400, #005200);
  animation-name: move;
  animation-duration: 16s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(20) {
  background: linear-gradient(to top left, #ff7070, #380000);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 28px;
  animation-name: move;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(21) {
  background: linear-gradient(to top left, #ffa3a3, #6b0000);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 59px;
  border-radius: 54px;
  background: linear-gradient(to top left, #06ff06, #007b00);
  animation-name: move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(22) {
  background: linear-gradient(to top left, #ff4d4d, #c70000);
  height: 3vh;
  transform-origin: 0 0;
  border-radius: 43px;
  animation-name: move;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(23) {
  background: linear-gradient(to top left, #ff9494, #8f0000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 72px;
  border-radius: 18px;
  background: linear-gradient(to top left, #1fff1f, #007b00);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(24) {
  background: linear-gradient(to top left, #ff9999, #750000);
  height: 5vh;
  transform-origin: 0 0;
  border-radius: 45px;
  animation-name: move;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(25) {
  background: linear-gradient(to top left, #ff6161, #700000);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 46px;
  border-radius: 91px;
  background: linear-gradient(to top left, #00b300, #006700);
  animation-name: move;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(26) {
  background: linear-gradient(to top left, #ff8080, #700000);
  height: 8vh;
  transform-origin: 0 0;
  border-radius: 94px;
  animation-name: move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(27) {
  background: linear-gradient(to top left, #ff1414, #520000);
  height: 12vh;
  transform-origin: 0 0;
  border-radius: 100px;
  border-radius: 23px;
  background: linear-gradient(to top left, #1fff1f, #007600);
  animation-name: move;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(28) {
  background: linear-gradient(to top left, #ffb3b3, #660000);
  height: 10vh;
  transform-origin: 0 0;
  border-radius: 105px;
  animation-name: move;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(29) {
  background: linear-gradient(to top left, #ff2424, #7a0000);
  height: 6vh;
  transform-origin: 0 0;
  border-radius: 22px;
  border-radius: 96px;
  background: linear-gradient(to top left, #00e100, #006c00);
  animation-name: move;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(30) {
  background: linear-gradient(to top left, #ffb8b8, #c70000);
  height: 7vh;
  transform-origin: 0 0;
  border-radius: 108px;
  animation-name: move;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.item:nth-child(even) {
  align-self: end;
  transform-origin: 0 100%;
}

.item {
  position: relative;
}

/*# sourceMappingURL=main.css.map */
